Repository robertlinde/next-nest-turbo-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: npm --workspace nestjs-backend run lint:fix, npm --workspace nextjs-frontend run lint:fix, npm --workspace @next-nest-turbo-auth-boilerplate/shared run lint:fix, npm run format

chore: fix imports
  .lintstagedrc
  packages/shared/package.json
  packages/shared/src/dto/user.dto.ts
Due: npm --workspace @next-nest-turbo-auth-boilerplate/shared run lint:fix, npm run format

test: fix tests
  apps/nestjs-backend/src/auth/auth.service.spec.ts
  apps/nestjs-backend/src/users/users.controller.spec.ts
  apps/nestjs-backend/src/users/users.service.spec.ts
Due: npm --workspace nestjs-backend run lint:fix, npm run format

refactor: change to UserDto in package
  apps/nestjs-backend/src/users/dto/me.dto.ts
  apps/nestjs-backend/src/users/users.controller.ts
  apps/nextjs-frontend/src/store/user/types/user-store.state.type.ts
  apps/nextjs-frontend/src/store/user/types/user.type.ts
  apps/nextjs-frontend/src/store/user/user.store.ts
  packages/shared/src/dto/user.dto.ts
Due: npm --workspace nestjs-backend run lint:fix, npm --workspace nextjs-frontend run lint:fix, npm --workspace @next-nest-turbo-auth-boilerplate/shared run lint:fix, npm run format

refactor: move create user body dto to shared
  apps/nestjs-backend/src/users/users.controller.ts
  apps/nextjs-frontend/src/app/[locale]/(auth)/register/page.tsx
  apps/nextjs-frontend/src/hooks/use-auth-api/services/register.service.ts
  apps/nextjs-frontend/src/hooks/use-auth-api/services/types/register.params.type.ts
  package-lock.json
  packages/shared/package.json
  packages/shared/src/dto/create-user.body.dto.ts
  packages/shared/src/index.ts
Due: npm --workspace nestjs-backend run lint:fix, npm --workspace nextjs-frontend run lint:fix, npm --workspace @next-nest-turbo-auth-boilerplate/shared run lint:fix, npm run format

refactor: moved reset password confirm dto in shared
  apps/nestjs-backend/src/users/users.controller.ts
  apps/nextjs-frontend/src/app/[locale]/(auth)/reset-password/page.tsx
  apps/nextjs-frontend/src/hooks/use-auth-api/services/reset-password.service.ts
  apps/nextjs-frontend/src/hooks/use-auth-api/services/types/reset-password.params.type.ts
  packages/shared/src/dto/reset-password-confirm.body.dto.ts
  packages/shared/src/index.ts
Due: npm --workspace nestjs-backend run lint:fix, npm --workspace nextjs-frontend run lint:fix, npm --workspace @next-nest-turbo-auth-boilerplate/shared run lint:fix, npm run format

refactor: move remaining dto in shared
  apps/nestjs-backend/src/auth/auth.controller.spec.ts
  apps/nestjs-backend/src/auth/auth.controller.ts
  apps/nestjs-backend/src/users/users.controller.spec.ts
  apps/nestjs-backend/src/users/users.controller.ts
  apps/nextjs-frontend/src/app/[locale]/profile/services/types/update-profile.params.ts
  apps/nextjs-frontend/src/app/[locale]/profile/services/update-profile.service.ts
  apps/nextjs-frontend/src/hooks/use-auth-api/services/forgot-password.service.ts
  apps/nextjs-frontend/src/hooks/use-auth-api/services/login-credentials.service.ts
  apps/nextjs-frontend/src/hooks/use-auth-api/services/login-two-factor.service.ts
  apps/nextjs-frontend/src/hooks/use-auth-api/services/types/forgot-password.params.type.ts
  apps/nextjs-frontend/src/hooks/use-auth-api/services/types/login-credentials.params.type.ts
  apps/nextjs-frontend/src/hooks/use-auth-api/services/types/login-two-factor.params.type.ts
  packages/shared/src/dto/login-credentials.body.dto.ts
  packages/shared/src/dto/login-two-factor-auth.body.dto.ts
  packages/shared/src/dto/reset-password-request.body.dto.ts
  packages/shared/src/dto/update-user.body.dto.ts
  packages/shared/src/index.ts
Due: npm --workspace nestjs-backend run lint:fix, npm --workspace nextjs-frontend run lint:fix, npm --workspace @next-nest-turbo-auth-boilerplate/shared run lint:fix, npm run format

fix: type errors
  apps/nextjs-frontend/src/app/[locale]/(auth)/forgot-password/page.tsx
  apps/nextjs-frontend/src/app/[locale]/(auth)/login/components/login-credentials/login-credentials.component.tsx
  apps/nextjs-frontend/src/app/[locale]/(auth)/login/components/login-two-factor/login-two-factor.component.tsx
Due: npm --workspace nextjs-frontend run lint:fix, npm run format

ci: fix dockerfiles for shared package
  apps/nestjs-backend/dockerfile
  apps/nextjs-frontend/dockerfile
Due: none

ci: fix e2e workflow
  .github/workflows/test.yml
Due: none

docs: update docs for refactored structure with shared package
  README.md
  apps/nestjs-backend/readme.md
  apps/nextjs-frontend/README.md
  packages/shared/README.md
Due: npm run format

fix: automatically build shared package
  packages/shared/package.json
  turbo.json
Due: npm run format

docs: update to confirm to new shared package (#228)
  README.md
  apps/nestjs-backend/readme.md
  apps/nextjs-frontend/README.md
  packages/shared/README.md
  packages/shared/package.json
  turbo.json
Due: npm run format

docs(Update main readme getting started section for package #229): update readme
  README.md
Due: npm run format

docs: fix typo
  README.md
Due: npm run format

docs(#229): update root readme for installation (#236)
  README.md
Due: npm run format

docs(Add docs and test to validate header decorator #248): add comment for validate header decorator
  apps/nestjs-backend/src/common/decorators/validate-header/validate-header.decorator.ts
Due: npm --workspace nestjs-backend run lint:fix, npm run format

chore(Add docs and test to validate header decorator #248): update root package name
  package.json
Due: npm run format

chore(Rename base-entity.entity.ts to base.entity.ts #246): rename base entity file
  apps/nestjs-backend/src/auth/entities/revoked-refresh-token.entity.ts
  apps/nestjs-backend/src/auth/entities/two-factor-auth.entity.ts
  apps/nestjs-backend/src/common/entities/base.entity.ts
  apps/nestjs-backend/src/common/logger/logger.service.spec.ts
  apps/nestjs-backend/src/users/entities/user.entity.ts
  package-lock.json
  turbo.json
Due: npm --workspace nestjs-backend run lint:fix, npm run format

chore: update validate header decorator (#251)
  apps/nestjs-backend/src/auth/entities/revoked-refresh-token.entity.ts
  apps/nestjs-backend/src/auth/entities/two-factor-auth.entity.ts
  apps/nestjs-backend/src/common/decorators/validate-header/validate-header.decorator.ts
  apps/nestjs-backend/src/common/entities/base.entity.ts
  apps/nestjs-backend/src/common/logger/logger.service.spec.ts
  apps/nestjs-backend/src/users/entities/user.entity.ts
  package-lock.json
  package.json
  turbo.json
Due: npm --workspace nestjs-backend run lint:fix, npm run format

chore: update bcrypt
  apps/nestjs-backend/package.json
  package-lock.json
Due: npm run format

chore: update bcrypt (#255)
  apps/nestjs-backend/package.json
  package-lock.json
Due: npm run format

chore: update non-major deps
  .github/workflows/quality.yml
  apps/nestjs-backend/dockerfile
  apps/nestjs-backend/package.json
  apps/nextjs-frontend/dockerfile
  apps/nextjs-frontend/package.json
  package-lock.json
  package.json
Due: npm run format

fix: fix react-hook-form update
  apps/nextjs-frontend/package.json
  package-lock.json
Due: npm run format

chore: update non-major deps (#256)
  .github/workflows/quality.yml
  apps/nestjs-backend/dockerfile
  apps/nestjs-backend/package.json
  apps/nextjs-frontend/dockerfile
  apps/nextjs-frontend/package.json
  package-lock.json
  package.json
Due: npm run format

chore: update deps
  apps/nextjs-frontend/package.json
  packages/shared/package.json
Due: npm run format

fix: update lockfile
  package-lock.json
Due: npm run format

chore: update deps (#258)
  apps/nextjs-frontend/package.json
  package-lock.json
  packages/shared/package.json
Due: npm run format

chore: remove supertest
  apps/nestjs-backend/package.json
  package-lock.json
Due: npm run format

chore: remove supertest (#259)
  apps/nestjs-backend/package.json
  package-lock.json
Due: npm run format

fix: remove unused var
  apps/nextjs-frontend/src/components/header/header.component.tsx
Due: npm --workspace nextjs-frontend run lint:fix, npm run format

fix: update zod to v4
  apps/nextjs-frontend/locales/de.json
  apps/nextjs-frontend/locales/en.json
  apps/nextjs-frontend/package.json
  apps/nextjs-frontend/src/providers/zod-error/utils/create-zod-error-map-util.ts
  apps/nextjs-frontend/src/providers/zod-error/zod-error.provider.tsx
  package-lock.json
Due: npm --workspace nextjs-frontend run lint:fix, npm run format

fix: update zod to v4 (#277)
  apps/nextjs-frontend/locales/de.json
  apps/nextjs-frontend/locales/en.json
  apps/nextjs-frontend/package.json
  apps/nextjs-frontend/src/providers/zod-error/utils/create-zod-error-map-util.ts
  apps/nextjs-frontend/src/providers/zod-error/zod-error.provider.tsx
  package-lock.json
Due: npm --workspace nextjs-frontend run lint:fix, npm run format

feat: add redis module
  apps/nestjs-backend/.env.example
  apps/nestjs-backend/docker-compose.yml
  apps/nestjs-backend/package.json
  apps/nestjs-backend/src/app.module.ts
  apps/nestjs-backend/src/common/redis/redis.module.ts
  apps/nestjs-backend/src/common/redis/redis.service.ts
  package-lock.json
Due: npm --workspace nestjs-backend run lint:fix, npm run format

feat: redis config
  apps/nestjs-backend/src/app.module.ts
  apps/nestjs-backend/src/config/app.config.ts
  apps/nestjs-backend/src/config/config-key.enum.ts
  apps/nestjs-backend/src/config/validation.schema.ts
  apps/nestjs-backend/src/redis/redis.module.ts
  apps/nestjs-backend/src/redis/redis.service.ts
Due: npm --workspace nestjs-backend run lint:fix, npm run format

feat: add redis (#279)
  apps/nestjs-backend/.env.example
  apps/nestjs-backend/docker-compose.yml
  apps/nestjs-backend/package.json
  apps/nestjs-backend/src/app.module.ts
  apps/nestjs-backend/src/config/app.config.ts
  apps/nestjs-backend/src/config/config-key.enum.ts
  apps/nestjs-backend/src/config/validation.schema.ts
  apps/nestjs-backend/src/redis/redis.module.ts
  apps/nestjs-backend/src/redis/redis.service.ts
  package-lock.json
Due: npm --workspace nestjs-backend run lint:fix, npm run format

fix: update README to replace Joi with Zod for form validation, add examples
  README.md
  apps/nextjs-frontend/README.md
Due: npm run format

fix: update README to replace Joi with Zod for form validation, add e… (#281)
  README.md
  apps/nextjs-frontend/README.md
Due: npm run format

Path conditions:
  npm --workspace nestjs-backend run lint:fix: any of: apps/nestjs-backend/**/*.{ts,tsx,js,jsx}
  npm --workspace nextjs-frontend run lint:fix: any of: apps/nextjs-frontend/**/*.{ts,tsx,js,jsx}
  npm --workspace @next-nest-turbo-auth-boilerplate/shared run lint:fix: any of: packages/shared/**/*.{ts,tsx,js,jsx}
  npm run format: any of: *.{json,md,css,html,ts,tsx,js,jsx}
